.slick-prev{
    left: 5px;
    z-index: 99;
}

.slick-next{
    right: 5px;
    z-index: 99;
}

.flexslideshow ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.flexslideshow .slides .slideshow-item div{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}